$primary-blue: #5367ff;
$accent-red: #fa5757;
$white: #ffffff;
$light-grey: #f7f7f7;
$medium-grey: #9194a2;
$dark-grey: #242940;

$font-body: "Montserrat", Arial, sans-serif;

$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $font-body;
  color: $dark-grey;
  background-color: $white;
  font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: $dark-grey;
  font-weight: 700;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Montserrat";
  src: url("/home/odinstudent/repos/odin-webpack-template/src/font/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/home/odinstudent/repos/odin-webpack-template/src/font/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
